<div class="auth-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-content select="h1"></ng-content>

    <label>
      <input type="email" placeholder="введите почту" formControlName="email" />
    </label>
    <label>
      <input
        type="password"
        placeholder="введите пароль"
        formControlName="password"
      />
    </label>

    <div *ngIf="emailInvalid" class="error">Невалидный email</div>
    <div *ngIf="passwordInvalid" class="error">пароль обязательный</div>
    <ng-content select=".error "></ng-content>
    <div class="auth-form__action">
      <ng-content select="button"></ng-content>
    </div>
    <div class="auth-form__toggle">
      <ng-content select="a"></ng-content>
    </div>
  </form>
</div>
