p {
  font-family: Lato;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.column {
  flex: 20%;
}

.map-inner-container {
  position: relative;
  width: 100%;
  height: 100%;
}
