@import 'lib/variables';
@import 'lib/packages/elevation/mixins';

$outlets-panel-width: $screen-atom * 30;

:host {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.context-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-container-wrapper {
  position: relative;
  display: flex;
  height: 100%;
}

.slide-container {
  @include elevation(4);

  height: 100%;
  position: absolute;
  border: 1px solid $gray-300;
  background: $gray-100;
  will-change: left;
  transition: left 0.15s, opacity 0.15s, transform 0.15s;
  z-index: 1500;

  &--collapsed {
    border: 0;
  }
}

.clusters--progress-info {
  position: absolute;
  z-index: 1000;
  left: $outlets-panel-width;
  top: 0;
  right: 0;
  width: auto;
}
